.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: #f3d9dc;
}

.container div:nth-child(2n) {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  font-size: 1rem;
  max-height: 150px;
  color: #0e131f;
  background-color: #8b939c;
  transition: all 0.5s cubic-bezier(0.1, 0.7, 1, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.container div:nth-child(2n):hover {
  background-color: #0e131f;
  color: #8b939c;
}

.container div:nth-child(odd) {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
  color: #ff0035;
  background-color: #38405f;
  font-size: 1rem;
  transition: all 1s cubic-bezier(0.1, 0.7, 1, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.container div:nth-child(odd):hover {
  background-color: #ff0035;
  color: #38405f;
}
